.box {
  border: 1px solid #f08763;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.205);
}

.box-title {
  background-color: #f08763;
  color: white;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  padding: 10px;
}

.debugBox {
  background-color: #f0f0f0;
  width: 100%;
  border: 1px solid palevioletred;
  padding: 15px 20px;
}

.alertBox {
  background-color: #f8d7da;
  color: #793146;
  border: 1px solid #f1aeb5;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 15px;
}

.success {
  background-color: #c6efce;
  color: #397931;
  border: 1px solid #b2d6a8;
}
