.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-navigation {
  width: 100%;
  background-color: #f08763;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-navigation > a {
  color: white;
}
